* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;

}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Oswald:wght@500&display=swap');

:root {
    
    --cor_principal: #98EECC;
    --cor_secundaria: #79E0EE;
    --cor_tercearia: green;
    --cor__fonte: black;

    --cor__white: white;
    
}



body {
    min-height: 100vh;
    box-sizing: border-box;
    background-color: var(--cor__white)
}

.sublinhado {
    color: var(--cor_tercearia);
}

.header {
    background-color: var(--cor_principal);
    
    padding: 1% 20% ;
    
}

.header__aba {
    display: flex;
    justify-content: center;   
    gap: 100px;
}

.header__aba__link {
    color: var(--cor__fonte);
    font-size: 1.2rem;
    font-family: 'Oswald', sans-serif;
}

.header__aba__link:hover {
    color: var(--cor_tercearia);
    transition-duration: 0.4s;
    
}

.main {
    margin: 10% 19%;
}

.conteudo__apresentacao {
    display: flex;
    align-items: center;
    gap: 80px;
    

}

.conteudo__apresentacao__titulo {
    font-size: 2.5rem;
    margin-bottom: 4%;
    font-family: 'Oswald', sans-serif;
    
}

.conteudo__apresentacao__texto {
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    line-height: 40px;
}

.imagem__computador {
    width: 40%;
}

.conteudo__segunda__parte {
    margin: 10% 0%;
}

.conteudo__apresentacao__div {
    text-align: center;

}

.imagem__hobbies {
    width: 30%;
}
